<h1>Chat</h1>

<div id="chat">
  <%= render @messages %>
</div>

<hr>

<%= form_for(Message.new) do |f| %>
  <div class="field">
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
